* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: hsla(188, 26%, 7%, 1);
  margin: 0;
  width: 80em;
}

body {
  font: normal 300 1em/1.4 "museo-sans", sans-serif;
  height: auto;
  margin: 0;
  max-width: 100%;
}

#view {
  background: -webkit-linear-gradient(top, hsla(188, 26%, 26%, 1), hsla(188, 26%, 10%, 1));
  background: linear-gradient(to bottom, hsla(188, 26%, 26%, 1), hsla(188, 26%, 10%, 1));
  padding: 20em 0 0;
  -webkit-transform: rotate(1.4deg);
  transform: rotate(1.4deg);
}

.message {
  -webkit-animation-name: appear;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-delay: 28000ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  left: 15em;
  opacity: 0;
  position: absolute;
  top: 4em;
  -webkit-transform: rotate(-2.8deg);
  transform: rotate(-2.8deg);
}

h1,
h2 {
  color: hsla(360, 0%, 96%, 1);
  font: normal 500 3em/1.5 "museo-sans", sans-serif;
}

h2 {
  bottom: 1.8em;
  left: 7.2em;
  position: relative;
}

#scene {
  bottom: 0;
  left: 0;
  position: relative;
}

.character-1,
.character-2 {
  margin: 0;
  max-width: 3em;
}

.character-1 {
  -webkit-transform: translate(15em, 6em);
  transform: translate(15em, 6em);
}

.jean {
  -webkit-animation-name: enter-scene;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-timing-function: ease-in-out;
  background: hsla(138, 39%, 54%, 1);
  height: 5em;
  width: 3em;
}

.jumps {
  -webkit-animation-name: jump-on;
  -webkit-animation-duration: 1700ms;
  -webkit-animation-delay: 20000ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

.arrow {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  top: -1.25em;
  width: 1.5em;
}

.character-2 {
  -webkit-transform: translate(30em);
  transform: translate(30em);
}

.oliver {
  -webkit-animation-name: jump;
  -webkit-animation-duration: 800ms;
  -webkit-animation-delay: 10000ms;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: ease-out;
  background: hsla(222, 39%, 54%, 1);
  height: 6em;
  width: 3em;
}

.platform {
  background: hsla(188, 26%, 7%, 1);
  bottom: 0;
  height: 15em;
  left: 0;
  position: relative;
}

.monologue {
  border-right: 4px solid hsla(360, 0%, 88%, 1);
  color: hsla(360, 0%, 88%, 1);
  font-size: 1.25em;
  margin: 2em 0;
  max-width: inherit;
  opacity: 0;
  padding: 0 1em;
  position: absolute;
  text-align: right;
}

.monologue.a {
  -webkit-animation-name: monologging;
  -webkit-animation-duration: 7000ms;
  -webkit-animation-delay: 2000ms;
  -webkit-animation-timing-function: ease;
}

.monologue.b {
  -webkit-animation-name: monologging;
  -webkit-animation-duration: 14000ms;
  -webkit-animation-delay: 12000ms;
  -webkit-animation-timing-function: ease;
}

.monologue.c {
  -webkit-animation-name: monologging;
  -webkit-animation-duration: 17000ms;
  -webkit-animation-delay: 28000ms;
  -webkit-animation-timing-function: ease;
}

.text {
  -webkit-animation-name: shift-over;
  -webkit-animation-duration: 1700ms;
  -webkit-animation-delay: 20000ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  display: block;
  height: 20em;
  max-width: 18em;
}

.extra-block {
  background: hsla(188, 26%, 7%, 1);
  height: 10em;
  left: 48em;
  position: absolute;
  top: -10em;
  width: 20em;
}

.backdrop {
  background: hsla(188, 26%, 7%, 1);
  height: 10em;
  width: 100%;
}

/* Animations */

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1);
    -webkit-transform: translate(0);
  }

  4% {
    -webkit-transform: scale(.6, 1.2);
  }

  20% {
    -webkit-transform: translate(0, -2.5em);
  }

  40% {
    -webkit-transform: scale(1);
    -webkit-transform: translate(0, -5em);
  }

  70% {
    -webkit-transform: translate(0);
  }

  100% {
    -webkit-transform: translate(0);
  }
}

@-webkit-keyframes enter-scene {
  0% {
    -webkit-transform: translate(-20em);
    transform: translate(-20em);
  }

  100% {
    -webkit-transform: translate(0em);
    transform: translate(0em);
  }
}

@-webkit-keyframes monologging {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes jump-on {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  2% {
    -webkit-transform: scale(.6, 1.2);
    transform: scale(.6, 1.2);
  }

  10% {
    -webkit-transform: translate(7.5em, -10em);
    transform: translate(7.5em, -10em);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate(11em, -8em);
    transform: translate(11em, -8em);
  }

  35% {
    -webkit-transform: translate(14em, -6em);
    transform: translate(14em, -6em);
  }

  60% {
    -webkit-transform: translate(16em, -6em);
    transform: translate(16em, -6em);
  }

  100% {
    -webkit-transform: translate(16em, -6em);
    transform: translate(16em, -6em);
  }
}

@-webkit-keyframes shift-over {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    max-width: 18em;
  }

  35% {
    -webkit-transform: translate(8em);
    transform: translate(8em);
    max-width: 26em;
  }

  60% {
    -webkit-transform: translate(9em);
    transform: translate(9em);
    max-width: 26em;
  }

  100% {
    -webkit-transform: translate(9em);
    transform: translate(9em);
    max-width: 26em;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}